<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nome">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="telephone" class="form-control" placeholder="Telefone">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Assunto">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Assunto">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Mensagem"></textarea>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </div>
    </div>

</form>